<%- include('../partials/head'); -%>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/"><%= title %><img class="mx-2"src="/images/sound.png" width="40" height="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback">Feedback</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faqs">FAQs</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/services#mental">Mental Disorders</a>
                <a class="dropdown-item" href="/services#anxiety">Anxiety Disorders</a>
                <a class="dropdown-item" href="/services#ashd">ADHD</a>
                <a class="dropdown-item" href="/services#addiction">Addiction</a>
                <a class="dropdown-item" href="/services#phobias">Phobias</a>
                <a class="dropdown-item" href="/services#health">Health</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Show All</a>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://en.wikipedia.org/wiki/Neuro-linguistic_programming" target="_blank">What is NLP?</a>
              </li>
            <!--
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            -->
          </ul>
          <div class="my-2 my-lg-0">
            <a class="btn btn-outline-warning" href="/contact" role="button">CONTACT US</a><span class="text-light px-3">(+91) 9372412366</span>
          </div>
        </div>
      </nav>
      
    <div class="display-1"><%=title %></div>

    <h1 id="mental">mental</h1>
    <h1 id="anxiety">anxiety</h1>
    <h1 id="ashd">ashd</h1>
    <h1 id="addiction">addiction</h1>
    <h1 id="phobias">phobias</h1>
    <h1 id="health">health</h1>

    <%- include('../partials/footer'); -%>
    <%- include('../partials/scripts'); -%>
</body>
</html>